################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/docs/doctrees
/.vs
/VRPSolverEasy/src/__pycache__
/VRPSolverEasy/tests/__pycache__
/VRPSolverEasy/__pycache__
/VRPSolverEasy/demos/__pycache__
